@import url ('https://fonts.googleapis.com/css2? family = Roboto & display = swap');

body {
	margin: 0;
	background-image: url(https://img5.goodfon.com/original/1280x960/b/23/fon-tekstura-matovaia-seryi.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif
 ;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

li a {
	text-decoration: none;
}

nav {
	background-color: black;
	height: 69px;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
}

.lol {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 39px;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}

p {
	color: white;
	line-height: 1.4;
	text-decoration: none;
	
}

nav, ul {
	display: flex;
	flex-direction: row;
	color: white;
}

nav li {
	padding: 0 30px;
	font-size: 20px;
	margin-left: 40px;
	margin-right: 20px;
	text-decoration: none;
}

nav a {
	color: white;
	text-decoration: none;
}

nav li:hover {
	cursor: pointer;
	opacity: 0.8;
	background-color: grey;
	text-decoration: none;
	
}

.lol:hover {
	cursor: pointer;
	opacity: 0.8;
	background-color: grey;
}

.lol-focus ~ ul {
	height: 260px;
}

.ok {
	width: 1100px;
	margin: 0 auto; 
	background-color: black; 
	margin-top: 18px; 
	margin-bottom: -40px; 
	padding: 15px; 
	padding-top: 20px; 
	padding-bottom: 20px;
	height: 2850px;
	box-shadow: 5px 10px 15px;
}

.capa {
	background-color: white;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 60px;
	width: 800px;
	border: 3px solid white;
	height: 2483px;
	padding: 10px;
	margin-bottom: px;
}

.ad {	
	width: 215px;
	height: 500px;
	border: 0px solid white;
	margin-bottom: 25px;
	margin-top: 15px;
}

.busca {
	width: 215px;
	height: 500px;
	border: 0x solid white;
	margin-bottom: 1110px;
	margin-top: 15px;

}

#fiff {
	width: 215px;
	float: ;
	border: 1px solid white;
	margin-bottom: 25px;
	text-align: center;
}

.capa-dir {
	width: 215px;
	float: right;
	border: 0px solid white;
	margin-top: 5px;
	margin-right: 20px;
	height: 2507px;
}

.capa .abas {
	margin-left: -13px;
}
.anuncio {
	margin-top: 0px;
}

#fiff h3 {
	color:  white;
	board: 1px solid white;
	padding: 5px;
}

#fiff h2 {
	color:  black;
	background-color: white;
	border: 1px solid white;
	margin-top: 0px; 
	width: 205px;
	margin-left: -1px;
}

.b1:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b2:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b3:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b4:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b5:hover {
	color: black;
	background-color: #2c3338;
	width: 195px;
	margin-left: 10px;
}

.b6:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b6 {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.b7:hover {
	color: black;
	background-color: #2c3338;
	width: 180px;
	margin-left: 17.5px;
}

.tip h2 {
	margin-bottom: 15px;
}

.carrosel {
	width: 800px;
	height: 450px;
	outline: 0px solid black;
	margin-left: 25px;
	overflow: hidden; 
	margin: 10px auto;
	margin-top: -15px;

}

.carrosel img {
	margin-left: 0px;
	margin-right: 0px;
}

.carrosel ul {
	display: flex;
	list-style: none;
	width: 3000px;
	height: 400px;
}

.carrosel li {
	position: relative;
	animation: slide 30s infinite ease-out;
}

.abas {
	width: 826px;
	height: 25px; 
	border: 0px solid black;
	margin-top: 120px;
	margin-bottom: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: black;
	padding-left: 0px;
}

.aba1 {
	width: 220px;
	height: 250px;
	border: 0px solid black;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin: 20px;
	margin-top: -110px;
	margin-left: 30px;
	box-shadow: 5px 2px 7px;
	background-color: white;
}
	
.abas p {
	margin-top: 15px;
	color: black;
	text-align: center;
}

.aba2 {
	width: 220px;
	height: 250px;
	border: 0px solid black;
	float: left;
	margin-left: 0px;
	padding-top: 20px;
	text-align: center;
	margin: 30px;
	box-shadow: 5px 2px 7px;
	background-color: white;
	margin-top: -110px;
}

.aba3 {
	width: 220px;
	height: 250px;
	border: 0px solid black;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin: 20px;
	box-shadow: 5px 2px 7px;
	background-color: white;
	margin-top: -110px;
}

.aba1:hover {
	background-color: lightgrey;
}	

.aba2:hover {
	background-color: lightgrey;
}

.aba3:hover {
	background-color: lightgrey;
}

.aba1:active {
	background-color: grey;
}	

.aba2:active {
	background-color: grey;
}

.aba3:active {
	background-color: grey;
}

.aba1:active p {
	color: white;
}	

.aba2:active p {
	color: white;
}

.aba3:active p {
	color: white;
}

@keyframes slide{
	0%{left: 0px}
	20%{left: 0px}

	30%{left: -800px}
	50%{left: -800px}


	60%{left: -1600px}
	90%{left: -1600px}

	100%{left: 0px}
}

.content {
	height:  445px;
	width: 935px;
	overflow: hidden;
	position: absolute;
	top: 340px;
}

.navegation {
	bottom: -50px;
	position: absolute;
	left: 42%;
	transform: translate(-50%);
	display: flex;
}

input {
	cursor: pointer;
	display: ;
}


.bar {
	width: 70px;
	height: 17px;
	border: 2px solid white;
	cursor: pointer;
	transition: .6s;
	margin: 6px;
}

.bar:hover {
	background-color: white;
}


#principal {
	border: 0px solid black;
	float: left;
	height: 2050px; 
	width: 	800px;
	text-align: center;
	margin-top: 0px;
	padding-left: -10px;
	text-align: left;
}

.logo {
	margin-left: -5px;
}


img {
	margin-left: 5px;
	margin-right: 8px;
}

#dir img {
	margin-right: 0px ;
}

#lista {
	margin-left: 30px;
}

.info {
	margin-top: 90px;
	float: right;
	border-left: 0px solid white;
	width: 500px;
	height:250px;
	text-align: center;
	font-size: 25px;
}

h1 {
	font-size: 55px;
	padding: 10px;
	text-decoration: bold;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 7px;
	border: 0px solid black;
	text-align: center;
	width: 350px;
	margin-left: 200px;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

h2 {
	font-size: 30px;
	background-color: lightgrey;
	padding: 5px;
	text-decoration: bold;
}

.tip h2 {
	border-bottom: 5px solid darkgrey;
}

.tiip h2 {
	border-bottom: 5px solid darkgrey;
	margin-top: 60px;
	
}

.tiiip h2 {
	border-bottom: 5px solid darkgrey;
	margin-top: 10px;
	
}

#noticiaa {
	border: 0px solid white;
	height: 115px;
	margin-top: 25px;
	margin-bottom: 15px;
}

#esq a {
	text-decoration: none;
}

#fundo {
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 50px;
	border-top: 3px solid white;
	height: 250px;
	margin-right: 25px;
	margin-left: 20px;
	margin-top: 35px;
}

#fundo h2 {
	background-color: transparent;
	color: white;
}

.aa {
	border: 0px solid white;
	width: 200px;
	float: left;
}

.bb {
	border: 0px solid white;
	width: 200px;
	float: left;
	margin-left: 10px;
}

.cc {
	border: 0px solid white;
	width: 200px;
	float: left;
	margin-left: 75px;
}

.dd {
	border: 0px solid white;
	width: 200px;
	float: right;
	margin-top: 45px;
	margin-right: 30px;
}

.aa h2 {
	margin-left: -10px;
}

.bb h2 {
	margin-left: -10px
}

.cc h2 {
	margin-left: -10px
}

.dd h2 {
	margin-left: -5px
}

#dir {
	float: right;
	padding: 1.5px;
	padding-right: 0px;
}

#esq {
	float: left;
	padding-left: 10px;
	text-decoration: none;

}

#noticiaa:hover {
		background-color: #B8B8BA;
		transition: .4s;
}

@media (max-width 700px) {
	nav ul {
		flex-direction: column;
	}
	ul {
		text-align: center;
		margin: 0;
		height: 0;
	}
	nav {
		padding: 0px;
		align-items: flex-start;
	}

	img {
		margin: 10px
	}

	button {
		display: flex;
	}

	li, ul {
		width: 100%;
	}